* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    line-height: 1;
    font-size: 1rem;
    /* background-color: rgb(203, 231, 255); */
    background: url(../images/catalog/111.jpeg) no-repeat top/cover;
}

.wrapper{
    width: 100%;
    padding: 1% 8%;
}

h1{
    display: flex;
    justify-content: center;
}

.header{
    display: flex;
    width: 20%;
}

ol, ul {
	list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav {
    display: flex;
}

.nav__item,
.nav-dropdown__item,
.subnav-dropdown__item{
    position: relative;
}

.nav__item:hover {
    background-color: rgb(240, 248, 255, 0.141);
}

.nav-dropdown__item:hover,
.subnav-dropdown__item:hover {
    background-color: rgb(240, 248, 255, 0.141);
}

.nav__item:hover .nav-dropdown,
.nav-dropdown__item:hover .subnav-dropdown{
    display: block;
    background-color: rgb(240, 248, 255, 0.141);
}

.nav__link,
.nav-dropdown__link,
.subnav-dropdown__link{
    display: block;
    padding: 2px;
    white-space: nowrap;
    color: white;
}

.nav-dropdown,
.subnav-dropdown{ 
    display: none; 
    position: absolute;
}

.subnav-dropdown{
    left: 100%;
    top: 0;
}

.hero{
    margin: 130px 0 0;
}

/*INDEX*/

.info{
    width: 100%;
    margin: 20px;
    padding: 10px 20px;
    background-color: rgba(240, 248, 255, 0.3);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info__item{
    width: 30%;
    display: flex;
    justify-content: center;
}

.info__head{
    display: flex;
    align-items: center;
    flex-direction: row-reverse
}

.info>p{
    width: 33%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info__head--span{
    font-weight: 700;
}

.info__item--wrap{
    width: 100%;
    display: flex;
    justify-content: center;
}

.info__imege{
    margin: 20px 0;
    padding: 0 9px 0 0;
    width: 30%;
    display: flex;
    flex-direction:row-reverse;
}

/*CONTACT*/

.group{
    width: 25%;
    margin: 90px auto;
    
}

.group__item{
    padding: 10px 10%;
    margin: 20px auto;
    background-color: rgb(240, 248, 255, 0.151);
    border: 1px solid white;
}

.group__item--p{
    font-weight: 700;
}

/*REGIST*/

legend{
    display: flex;
    margin: 0 auto 20px;
}

.regist{
    margin: 1% auto;
    width: 30%;
    background-color: rgb(240, 248, 255, 0.151);
    border: 1px solid white;
}

.regist__item{
    padding: 5px 10px;
}

.regist__button{
    margin: 1% auto;
    width: 30%;
}

.btn {
    margin: 6px 0;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid white;
    background-color: rgb(240, 248, 255, 0.151);
}

input{
    width: 100%;
}

/*LOGIN*/

.login{
    margin: 1% auto;
    width: 30%;
    background-color: rgb(240, 248, 255, 0.151);
    border: 1px solid white;
    display: flex;
    flex-direction: column;
}

.login__item{
    padding: 5px 10px;
    width: 100%;
}

.login__item--chceck{
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    width: 100%;
}

.item__chceck{  
    width: 3%;
    margin: 0 2%;
}

.login__button{
    margin: 1% auto;
    width: 30%;
}

input{
    width: 100%;
}

.login__item--link{
    display: flex;
    justify-content: right;
    margin: 0 2% 2%;
}

/*PASSWORD and RESET*/

.password{
    margin: 1% auto;
    width: 30%;
    background-color: rgb(240, 248, 255, 0.151);
    border: 1px solid white;
    display: flex;
    flex-direction: column;
}

.password__item{
    padding: 5px 10px;
    width: 100%;
}

.password__item--chceck{
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    width: 100%;
}

.password__button{
    margin: 1% auto;
    width: 30%;
}

.password--p{
    margin: 0 auto;
}

.password__link{
    color: black;
}

.password__link:hover{
    text-decoration: none;
}

/*FILTERS*/

.form--filters{
    margin: 130px 0 0; 
}

.search{
    margin: 1% auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.search__item{
    padding: 5px 10px;
    margin: 1% auto;
    width: 21%;
    background-color: rgba(240, 248, 255, 0.371);
    border: 1px solid white;
    display: flex;
    flex-direction: column;
}

.search__item--comfort{
    padding: 5px 10px;
    margin: 1% auto;
    width: 50%;
    background-color: rgb(240, 248, 255, 0.327);
    border: 1px solid white;
    display: flex;
    flex-direction: column;
}


.search__item--row{
    width: 100%;
    padding: 5px 5px;
    display: flex;
    flex-wrap: wrap;  
}

.search__item--checkbox{
    display: flex;
    flex-wrap: wrap;
    margin: 1% auto;
    width: 30%;
    justify-content: space-between;
}

.search__lable>input{
    width: 35%;
}

.search__lable{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.search__lable--color>input{
    width: 100%;

}


.search__button{
    margin: 1% auto;
    width: 30%;
}

.search__item--checkbox>input{
    margin: 0 0 0 3%;
    width: 15px;
}

.search__item--checkbox>label{
    display: flex;
    flex-wrap: wrap;
}
    
.search__item--state{
    padding: 5px 10px;
    margin: 1% auto;
    width: 41%;
    background-color: rgba(240, 248, 255, 0.327);
    border: 1px solid white;
    display: flex;
    flex-direction: column;
}

/*NEW*/

.poducts-used{
    width: 100%;
    margin: 130px 0 0;
}


.product{
    display: flex;
    margin: 1% auto;
    padding: 10px 10px 10px;
    width: 80%;
    background-color: rgba(240, 248, 255, 0.338);
    border: 1px solid white;
    flex-direction: row;
}

.product__auto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1% 1% 3% 1%;
    width: 100%;
}

.product__auto>a{
    background-color: rgba(240, 248, 255, 0.414);
    border: 1px solid white;
    padding: 5px;
}

.product__auto--image{
    display: flex;
    width: 20%;
    /* height: 200px; */
    /* margin: 2% 1% 2% 2%; */
}
