* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    line-height: 1;
    font-size: 1rem;
    /* background-color: rgb(203, 231, 255); */
    background: url(../images/catalog/111.jpeg) no-repeat top/cover;
}

.wrapper{
    width: 100%;
    padding: 1% 8%;
}

h1{
    display: flex;
    justify-content: center;
}

.header{
    display: flex;
    width: 20%;
}

ol, ul {
	list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav {
    display: flex;
}

.nav__item,
.nav-dropdown__item,
.subnav-dropdown__item{
    position: relative;
}

.nav__item:hover {
    background-color: rgb(240, 248, 255, 0.141);
}

.nav-dropdown__item:hover,
.subnav-dropdown__item:hover {
    background-color: rgb(240, 248, 255, 0.141);
}

.nav__item:hover .nav-dropdown,
.nav-dropdown__item:hover .subnav-dropdown{
    display: block;
    background-color: rgb(240, 248, 255, 0.141);
}

.nav__link,
.nav-dropdown__link,
.subnav-dropdown__link{
    display: block;
    padding: 2px;
    white-space: nowrap;
    color: white;
}

.nav-dropdown,
.subnav-dropdown{ 
    display: none; 
    position: absolute;
}

.subnav-dropdown{
    left: 100%;
    top: 0;
}

.hero{
    margin: 130px 0 0; 
   
}

/*INDEX*/

.info{
    width: 100%;
    margin: 20px;
    padding: 10px 20px;
    background-color: rgba(240, 248, 255, 0.3);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info__item{
    width: 30%;
    display: flex;
    justify-content: center;
}

.info__head{
    display: flex;
    align-items: center;
    flex-direction: row-reverse
}

.info>p{
    width: 33%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info__head--span{
    font-weight: 700;
}

.info__item--wrap{
    width: 100%;
    display: flex;
    justify-content: center;
}

.info__imege{
    margin: 20px 0;
    padding: 0 9px 0 0;
    width: 30%;
    display: flex;
    flex-direction:row-reverse;
}

/*CONTACT*/

.group{
    width: 25%;
    margin: 90px auto;
    
}

.group__item{
    padding: 10px 10%;
    margin: 20px auto;
    background-color: rgb(240, 248, 255, 0.151);
}

.group__item--p{
    font-weight: 700;
}

/*REGIST*/

legend{
    display: flex;
    margin: 0 auto 20px;
}

.regist{
    margin: 1% auto;
    width: 30%;
    background-color: rgb(240, 248, 255, 0.151);
}

.regist__item{
    padding: 5px 10px;
}

.regist__button{
    margin: 1% auto;
    width: 30%;
}

.btn {
    margin: 6px 0;
    width: 100%;
    padding: 10px 20px;
    background-color: rgb(240, 248, 255, 0.151);
}

input{
    width: 100%;
}
